p {color:red;font-size:20px;}
#ni {color:black;font-size:15px;}
h2 {text-align:center;}
a {text-decoration:none;text-align:center;}
/* a:link {color:brown;}
a:visited {color:blue;}
a:hover {color:black;}
a:active {color:blueviolet;} */
.wo {color:blueviolet;font-size:30px;}
table {border-collapse:collapse;width:30%;}
tr {height:30px;}
td {text-align:center;}
caption {caption-side:bottom;}
img {display:block;margin:auto;}
video {display:block;margin:auto;}
audio {display:block;margin:auto;}
ul.te {
    list-style-type:none;
    margin:0;
    padding:0;
    width:300px;
    background-color:grey;
    overflow:hidden;
}
li a, .dropbtn
{
  display:inline-block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
li a {
    display:block;
    color:black;
    padding:8px 16px;
}
li a:hover {
    background-color: #555;
    color:white;
}
li {float:left}
/* li {
    text-align:center;
} 在a类选择中已添加center*/
.dropdown
{
  display:inline-block;
}

.dropdown-content
{
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content
{
  display:block;
}
.jj {
    position:relative;
    display:inline-block;
}
.jj .kk {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* 定位 */
    position: absolute;
    z-index: 1;
}
.jj:hover .kk {
    visibility: visible;
}